
.foodlist-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dashboard {
  width: 20%;
  background-color: red;
}

.food-list {
  flex: 1;
  background-color: yellow;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2px;
}

.food-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  justify-content: space-between;
}

.food-name {
  font-size: 14px;
  font-weight: bold;
}

.food-description {
  font-size: 10px;
}

.food-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.foodlist > * {
  transition: transform 0.3s ease, opacity 0.3s ease; /
}

@media (max-width: 1024px) {
  .foodlist {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 768px) {
  .foodlist {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media (max-width: 768px) {

  .food-list {
    grid-template-columns: 1fr;
  }

  .food-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    border: none;
    align-items: center;
  }

  .food-name, .food-description {
    white-space: wrap; 
    text-overflow: ellipsis;
  }

  .food-name {
    flex-basis: 15%;
  }

  .food-description {
    flex-basis: 50%;
  }
}

.advertisement {
  width: 20%;
  background-color: red;
}

@media (max-width: 768px) {
  .foodlist-container {
    display: flex;
    flex-direction: column;
  }

  .dashboard {
    order: 1;
    width: 100%;
    height: 10vh;
  }

  .food-list {
    order: 2;
    width: 100%;
    flex: 1;
  }

  .advertisement {
    order: 3;
    width: 100%;
    height: 10vh;
  }
} 

